body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:1554px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:412px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24819 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:347px;
  width:1396px;
  height:412px;
  display:flex;
}
#u24819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24820 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:516px;
  width:118px;
  height:16px;
  display:flex;
}
#u24820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24821 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:446px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24823 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:109px;
  width:1396px;
  height:214px;
  display:flex;
}
#u24823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u24824 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:119px;
  width:63px;
  height:16px;
  display:flex;
  color:#666666;
  text-align:center;
}
#u24824 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24825_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:693px;
  height:5px;
}
#u24825 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:160px;
  width:690px;
  height:2px;
  display:flex;
}
#u24825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u24826 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:175px;
  width:37px;
  height:22px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u24826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u24827 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:156px;
  width:9px;
  height:8px;
  display:flex;
}
#u24827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u24828 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:175px;
  width:71px;
  height:22px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u24828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24829_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:24px;
  height:22px;
}
#u24829 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:153px;
  width:16px;
  height:14px;
  display:flex;
}
#u24829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  line-height:22px;
}
#u24830 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:207px;
  width:127px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  line-height:22px;
}
#u24830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u24831 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:178px;
  width:55px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u24831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24832 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:156px;
  width:12px;
  height:10px;
  display:flex;
}
#u24832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  line-height:22px;
}
#u24833 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:210px;
  width:124px;
  height:66px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  line-height:22px;
}
#u24833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24834_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:693px;
  height:5px;
}
#u24834 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:160px;
  width:690px;
  height:2px;
  display:flex;
}
#u24834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24835_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:535px;
  height:7px;
}
#u24835 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:159px;
  width:531px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(0.047478170877129deg);
  -moz-transform:rotate(0.047478170877129deg);
  -ms-transform:rotate(0.047478170877129deg);
  transform:rotate(0.047478170877129deg);
}
#u24835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u24836 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:31px;
  width:184px;
  height:39px;
  display:flex;
  color:#7F7F7F;
}
#u24836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1555px;
  height:2px;
}
#u24837 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:80px;
  width:1554px;
  height:1px;
  display:flex;
}
#u24837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u24838 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:34px;
  width:94px;
  height:33px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24840 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:785px;
  width:1394px;
  height:700px;
  display:flex;
}
#u24840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:497px;
}
#u24843 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:923px;
  width:1px;
  height:496px;
  display:flex;
  -webkit-transform:rotate(-0.0277564167196472deg);
  -moz-transform:rotate(-0.0277564167196472deg);
  -ms-transform:rotate(-0.0277564167196472deg);
  transform:rotate(-0.0277564167196472deg);
}
#u24843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24844 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:917px;
  width:12px;
  height:10px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u24844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24845 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1012px;
  width:12px;
  height:10px;
  display:flex;
  color:#999999;
}
#u24845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24846 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1102px;
  width:12px;
  height:10px;
  display:flex;
  color:#999999;
}
#u24846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24847 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1196px;
  width:12px;
  height:10px;
  display:flex;
  color:#999999;
}
#u24847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24848 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1302px;
  width:12px;
  height:10px;
  display:flex;
  color:#999999;
}
#u24848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24849 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1405px;
  width:12px;
  height:10px;
  display:flex;
  color:#999999;
}
#u24849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:80px;
  background:inherit;
  background-color:rgba(247, 251, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 232, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24851 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1370px;
  width:1255px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24851 .text {
  position:absolute;
  align-self:flex-start;
  padding:50px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24852 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1370px;
  width:331px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24853 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:1370px;
  width:171px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24853 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:80px;
  background:inherit;
  background-color:rgba(247, 251, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 232, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24855 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1067px;
  width:1255px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24855 .text {
  position:absolute;
  align-self:flex-start;
  padding:50px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24856 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1067px;
  width:331px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24856 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24857 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:1066px;
  width:171px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24857 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:80px;
  background:inherit;
  background-color:rgba(247, 251, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 232, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24859 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:977px;
  width:1255px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24859 .text {
  position:absolute;
  align-self:flex-start;
  padding:50px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24860 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:977px;
  width:331px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24860 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24861 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:977px;
  width:171px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24861 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:80px;
  background:inherit;
  background-color:rgba(247, 251, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 232, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24863 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1267px;
  width:1255px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24863 .text {
  position:absolute;
  align-self:flex-start;
  padding:50px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24864 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1267px;
  width:331px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24864 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24865 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:1267px;
  width:171px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24865 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:80px;
  background:inherit;
  background-color:rgba(247, 251, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 232, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24867 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1161px;
  width:1255px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24867 .text {
  position:absolute;
  align-self:flex-start;
  padding:50px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24868 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1161px;
  width:331px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24868 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24869 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:1161px;
  width:171px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24869 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:80px;
  background:inherit;
  background-color:rgba(247, 251, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 232, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24871 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:882px;
  width:1255px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u24871 .text {
  position:absolute;
  align-self:flex-start;
  padding:50px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24872 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:882px;
  width:331px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u24872 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u24872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24873 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:882px;
  width:171px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u24873 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u24874 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:819px;
  width:63px;
  height:16px;
  display:flex;
  color:#666666;
  text-align:center;
}
#u24874 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u24875 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:372px;
  width:63px;
  height:16px;
  display:flex;
  color:#666666;
  text-align:center;
}
#u24875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 240, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24876 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:640px;
  width:1045px;
  height:61px;
  display:flex;
}
#u24876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24876_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:61px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 240, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24876.mouseOver {
}
#u24876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 240, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24877 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:519px;
  width:1045px;
  height:61px;
  display:flex;
}
#u24877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24877_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:61px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 240, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24877.mouseOver {
}
#u24877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 240, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24878 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:579px;
  width:1045px;
  height:61px;
  display:flex;
}
#u24878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24878_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:61px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 240, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24878.mouseOver {
}
#u24878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24879 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:545px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24880 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:600px;
  width:37px;
  height:15px;
  display:flex;
}
#u24880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24881 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:661px;
  width:44px;
  height:15px;
  display:flex;
}
#u24881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24882 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:545px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24883 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:600px;
  width:39px;
  height:15px;
  display:flex;
}
#u24883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24884 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:661px;
  width:39px;
  height:15px;
  display:flex;
}
#u24884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24885 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:545px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24886 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:600px;
  width:34px;
  height:15px;
  display:flex;
}
#u24886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24887 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:661px;
  width:34px;
  height:15px;
  display:flex;
}
#u24887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24888 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:545px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24888 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24888_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24889 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:545px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24890 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:545px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000222;
}
#u24890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24891 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:588px;
  width:233px;
  height:40px;
  display:flex;
  text-align:left;
}
#u24891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24892 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:649px;
  width:233px;
  height:40px;
  display:flex;
  text-align:left;
}
#u24892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24893 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:588px;
  width:233px;
  height:40px;
  display:flex;
  text-align:left;
}
#u24893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24894 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:649px;
  width:233px;
  height:40px;
  display:flex;
  text-align:left;
}
#u24894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24895 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:434px;
  width:233px;
  height:40px;
  display:flex;
  text-align:left;
}
#u24895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24896 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:588px;
  width:233px;
  height:40px;
  display:flex;
  text-align:left;
}
#u24896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24897 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:649px;
  width:233px;
  height:40px;
  display:flex;
  text-align:left;
}
#u24897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(8, 162, 186, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(8, 162, 186, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#08A2BA;
}
#u24898 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:34px;
  width:94px;
  height:33px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#08A2BA;
}
#u24898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
